/*Обнуление*/
*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input,button,textarea{font-family:inherit;}

input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
/*--------------------*/

body{
    font-family: Arial;
    background-color: #ddd;
    padding: 30px;
}
.wrapper{
    padding: 0 50px 0 50px;
}

h1 {
    text-align: center;
    font-size: 30px;
    margin: 0 0 20px 0;
    font-weight: 700;
}
.addTask{
    display: flex;
    justify-content: center;
    margin: 0 0 40px 0;
}
#input-task{
    border: none;
    border-bottom: 2px solid; width: 50%;
    font-size: 18px;
    padding: 10px;
}

#add-task-button{

    background-color: darkorchid;
    border-radius: 0.75em;
    box-shadow: 10px 7px;
    color: #fff;
    font-weight: 700;
    border: 2px solid rebeccapurple;
    padding: 10px;
    margin: 0 0 0 5px;
}

.list{}
#task-list{   }


input:checked +  .task {
    text-decoration: line-through;
    background-color: lightgray;

}
li{
    min-width: 100%;
    display: flex;
    margin: 0 0 10px 0;
}
#input-li{
    min-width: 31px;
    min-height: 31px;
}
.task{

    flex: 1 1 auto;
    font-size: 20px;
    line-height: 25px;
    background-color: #fff;
    padding: 0 5px;
    margin: 0 10px;
}
.delete-btn {
    min-width: 31px;
    min-height: 31px;
    border-radius: 50px;
    background-color: red;
    border: none;
    color: #fff;
    font-size: 20px;
    line-height: 25px;
    padding: 3px;
}